.car_imag {
    text-align: center !important;
}

.car_imag img {
    width: 100% !important;
}

.car_description {
    text-align: justify !important;
    font-size: 15px !important;
    font-family: sans-serif !important;
    border-bottom: 2px solid #b3b8bb !important;
    padding-bottom: 10px !important;
}

._get_car_feat_head {
    color: black !important;
    background-color: #b3b8bb !important;
    padding: 5px 20px !important;
}

.amount_right {
    text-align: right;
}

.get_car_feat {
    display: flex !important;
    justify-content: space-between !important;
    padding: 6px 20px !important;
    align-items: center !important;
    border-bottom: 2px solid #f1f3f4 !important;
}

.feat_left h6 {
    font-size: 14px !important;
    margin: 0px !important;
}

.feat_right h6 {
    font-size: 14px !important;
    margin: 0px !important;
}

.car_amount {
    display: flex !important;
    justify-content: space-between !important;
    padding: 6px 20px !important;
    align-items: center !important;
    background-color: #cfbebe85 !important;
    border-radius: 5px !important;
    margin-bottom: 5px !important;
}

.amount_left h6,
.amount_right h6 {
    font-size: 14px !important;
    margin: 0px !important;
}

.req_uae_head {
    background-color: #f1f3f4 !important;
    border-radius: 5px !important;
    margin-top: 20px !important;
}

.req_uae_head h6 {
    margin: 0px !important;
    font-size: 19px !important;
    padding: 5px 20px !important;
}

.req_uae_list {
    margin-top: 5px !important;
    border-bottom: 2px solid #f1f3f4 !important;
}

.req_uae_list h6 {
    padding: 5px 20px !important;
    font-size: 15px !important;
    margin: 0px !important;
}

.rent_cost_head h6 {
    margin: 0px !important;
    font-size: 19px !important;
    background-color: #b3b8bb !important;
    padding: 5px 20px !important;
}

.daily_weekly_monthly {
    display: flex !important;
    justify-content: space-between !important;
    padding: 5px 20px !important;
}

.daily_weekly_monthly h4 {
    margin: 0px !important;
    padding-top: 10px !important;
    font-size: 18px !important;
}

.daily_weekly_monthly p {
    margin: 0px !important;
    padding-bottom: 15px !important;
    padding-top: 5px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.rental_cost {
    border: 1px solid #b3b8bb !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
    padding-bottom: 10px !important;
}

.rental_cost_btn {
    padding: 5px 20px !important;
    text-align: center !important;
}